a:hover{
	text-decoration:none;
	color:#003;
}
.label-inverse{
	background-color: #ad1;
}

.breadcrumb-ext {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.breadcrumb-ext>li {
    display: inline-block;
}

.breadcrumb-ext>li>a:hover{
	text-decoration:none;
}

.breadcrumb-ext>li+li:before {
    padding: 0;
    color: #ccc;
    content: " ";
}
.numPinner{
	width:30px;
}
.panel-item{
    margin-bottom: 0px;
}

.layui-body{
    padding: 20px;
}
.layui-layout-admin .layui-bg-custom{
    background-color: rgba(254, 161, 28, 0.56);
}

.layui-colla-title {
    position: relative;
    height: 42px;
    line-height: 42px;
    padding: 0 15px 0 15px;
    color: #f5f5f5;
    background-color: #5fb878;
    cursor: pointer;
}

.layui-nav-tree .layui-nav-child a{
    padding-left: 35px;
}

.layui-nav-tree .layui-nav-item a:hover {
    background-color: #a9690e;
}

ul.layui-nav-tree>li.layui-nav-item>a{
    background-color: #a9690e;
}

ul.layui-nav-tree>li.layui-nav-item>dl>dd>a{
    background-color: #FEA11c;
}
