<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jackysoft.edu.mapper.LectureNotesMapper">
   
        <select id="findAll" resultType="lecturenotes">
        select * from jq_lecturenotes;
    </select>
    
        
    <select id="findList" parameterType="querybuilder" resultType="lecturenotes">
        select * from jq_lecturenotes where ${qc.where};
    </select>
    
    	
	<select id="findPageList" resultType="lecturenotes">
	    select * from jq_lecturenotes limit ${start},${offset};
	</select>
	
		
	<select id="findById" parameterType="string" resultType="lecturenotes">
	   select * from jq_lecturenotes where id=#{id};
	</select>
	
		
	<select id="counts" resultType="long">
	   select count(*) from jq_lecturenotes;
	</select>	
	
		<select id="findByQuery" resultType="lecturenotes">
       select * from jq_lecturenotes where ${qc.where} limit ${start},${offset};
    </select>
		
	<select id="countByQuery" parameterType="querybuilder" resultType="long">
	   select count(*) from jq_lecturenotes where ${qc.where};
	</select>
	
	     
    <insert id="insert" parameterType="lecturenotes">
       insert into jq_lecturenotes 
       (`owner`,`gradeName`,`courseName`,`ownerName`,`grade`,`firetime`,`name`,`course`
       ,`id`,`shared`,`sharedFile`) 
       values(#{owner},#{gradeName},#{courseName},#{ownerName},#{grade},#{firetime},#{courseName},#{course}
       ,#{id},1,#{sharedFile})
       ON DUPLICATE KEY UPDATE
       courseName=VALUES(`courseName`)
       ,firetime=VALUES(`firetime`)
       ,name=VALUES(`name`)
       ,gradeName=VALUES(`gradeName`)
       ,course=VALUES(`course`)
       ,grade=VALUES(`grade`);
    </insert> 
   
    
		
	<delete id="delete" parameterType="string">
	   delete from jq_lecturenotes where id=#{id};
	</delete>
	
	
    <delete id="deleteByQuery" parameterType="querybuilder">
       delete from jq_lecturenotes where ${qc.where};
    </delete>
        <update id="updatePartial">
       update jq_lecturenotes ${sets} where id=#{id};
    </update>
    
</mapper>