<table class="table table-striped table-bordered table-hover table-condensed">
  <tbody>
    <%  for(var i=0;i<pager.dataList.length;i++) {
         var user = pager.dataList[i];
     %>  
    
    <% if(i%5==0){ %>
       <tr>
    <% } %>
       <td>
        <label>
         <input type="checkbox" name="users" value="<%=user.username%>">
         <%= user.nickname %> 
        </label> 
       </td>
   
    <% if((i+1)%5==0 || i==(pager.dataList.length-1) ){ %>
       </tr>
    <% } %>
     
   
    <% } %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <%= pager.pagination%>
      </td>
    </tr>
  </tfoot>
</table>
