.btn-gp td .action-remove {
    display: none;
}
.btn-gp:hover td .action-remove{
    display:inline;
}

.layui-nav-tree-inner{
    width: 99%;
}

.action-textbook-change{
    width:100%;
    height: 40px;
}

.list-types{
    display: block;
    margin-top: 5px;
    padding: 5px;
}
.layui-badge-rim{
    height: auto;
}
